.wrapper {
  display: flex;
  gap: 1.6rem;
}

.wrapper + .wrapper {
  margin-top: 2.4rem;
}

.content {
  background-color: var(--gray-3);
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.author {
  display: flex;
  flex-direction: column;
}

.author strong {
  color: var(--gray-7);
  font-size: 1.4rem;
  line-height: 1.6;
}

.author time {
  font-size: 1.2rem;
  line-height: 1.6;
}

.comment p {
  font-size: 1.4rem;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
}

.contentHeader button {
  background-color: transparent;
  border: none;
  color: var(--gray-5);
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
}

.contentHeader button:hover {
  color: var(--red-danger);
  transition: color 0.2s;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.commentActions button {
  background-color: transparent;
  border: none;
  color: var(--gray-5);
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.commentActions button:hover {
  color: var(--gray-7);
  transition: color 0.5s;
}

.likeCount span::before {
  content: "\2022";
  margin-right: 0.8rem;
}
