.header {
  background-color: var(--neutral-50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 4.8rem;
  height: 4.8rem;
}

.header h1 {
  color: var(--neutral-800);
  padding: 2rem 0;
  margin-left: 1.6rem;
}
