.wrapper {
  background-color: var(--neutral-50);
  border-radius: 8px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.wrapper time {
  font-size: 1.4rem;
  color: var(--neutral-500);
}

.wrapper p {
  line-height: 2.4;
}

.wrapper + .wrapper {
  margin-top: 3.2rem;
}

.header {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 4.8rem;
  height: 4.8rem;
  width: calc(4.8rem + 1.2rem);
  height: calc(4.8rem + 1.2rem);
  border-radius: 8px;
  border: 0.4rem solid var(--neutral-50);
  outline: 0.2rem solid var(--blue-500);
}

.user {
  display: flex;
  gap: 1.6rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info strong {
  color: var(--neutral-800);
  line-height: 1.6;
}

.info span {
  color: var(--neutral-500);
  line-height: 1.6;
  font-size: 1.4rem;
}

.content a {
  font-weight: bold;
  color: var(--blue-500);
  text-decoration: none;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-top: 2.4rem;
  border-top: 0.1rem solid var(--neutral-300);
}

.commentForm strong {
  color: var(--neutral-800);
}

.commentForm textarea {
  resize: none;
  background-color: var(--neutral-200);
  border-radius: 8px;
  height: 9.6rem;
  padding: 1.6rem;
}

.commentForm textarea:focus {
  outline: solid 0.2rem var(--blue-500);
}

.commentForm button {
  color: var(--white);
  background-color: var(--blue-500);
  cursor: pointer;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  width: fit-content;
  border-radius: 8px;
}

.commentForm button:not(:disabled):hover {
  background-color: var(--blue-400);
  transition: background-color 0.2s;
}

.commentForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}
