.wrapper {
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 3.2rem;
  align-items: flex-start;
  margin: 3.2rem auto;
  padding: 0 1rem;
  max-width: 112rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
