* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  /* Colors */
  --white: #ffffff;
  --green: #00875f;
  --green-light: #00b37e;
  --red-danger: #f75a68;
  --gray-1: #121214;
  --gray-2: #202024;
  --gray-3: #323238;
  --gray-4: #7c7c8a;
  --gray-5: #8d8d99;
  --gray-6: #c4c4cc;
  --gray-7: #e1e1e6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  background-color: var(--gray-1);
  color: var(--gray-6);
}
