* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --white: #ffffff;
  --red-danger: #f75a68;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --neutral-50: #fafafa;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-500: #737373;
  --neutral-700: #404040;
  --neutral-800: #262626;
}

body {
  font: 1.6rem "Roboto", sans-serif;
  background-color: var(--neutral-200);
  color: var(--neutral-700);
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea {
  all: unset;
  font: 1.6rem "Roboto", sans-serif;
  color: var(--neutral-700);
}
